*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

header{
  width: 100%;
  padding: 20px;
  background-color: #33b667;
  color: #fff;
  text-align: center;
}

main{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  gap: 50px;
}

main p:first-child, .container div:first-child{
  font-size: 22px;
}

.container{
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
}

.container table th{
  margin: 20px auto;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.container span{
  font-weight: bold;
}

.btn{
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #33b667;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-voltar{
  position: absolute;
  left: 20px;
  top: 25px;
}

.btn-avancar{
  position: absolute;
  right: 20px;
  top: 25px;
}

#tabela{
  width: 100%;
}

#tabela tr, #tabela tr td{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  text-align: center;

}

#tabela tr td:last-child{
  flex-direction: row-reverse;
}

